<ion-view title="MafiaReturns Notifications" hide-back-button="true">
	<ion-content padding="'true'" class="has-header">
		<div>
			<div class="appinfo">
				<div class="card" ng-show="errors">
					<div class="item item-text-wrap assertive" ng-repeat="msg in errors" ng-bind-html="msg"></div>
				</div>

				<div class="card card-assertive">
					<div class="item item-text-wrap">
						Initializing, please wait. This should not take long.
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>


<script id="my-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
			<h1 class="title">My Modal title</h1>
		</ion-header-bar>
		<ion-content>
			Hello!
		</ion-content>
	</ion-modal-view>
</script>
