<ion-view title="App Logout">
	<ion-content padding="'true'" class="">

		<div class="appinfo" style="display: none;">

			<div class="card">
				<div class="item item-text-wrap" style="margin-top: 0;">
					This device is logged in as <strong>{{ username }}</strong>.
				</div>
			</div>

			<div class="card">
				<div class="item item-text-wrap" style="margin-top: 0;">
					Application version: <strong>{{ version }}</strong>.
				</div>
			</div>

			<div class="card" ng-show="errors">
				<div class="item item-text-wrap assertive" ng-repeat="msg in errors">
					{{ msg }}
				</div>
			</div>

			<form class="list" ng-submit="logout()">
				<input type="submit" class="button button-stable button-block icon-right ion-log-in button-positive" value="Log Out" ng-disabled="isSaving">
			</form>

		</div>
	</ion-content>
</ion-view>