<ion-view title="Options Tab">
	<ion-content padding="'true'" class="has-header" style="padding-top: 0;">
		<div class="card" ng-show="errors">
			<div class="item item-text-wrap assertive" ng-repeat="msg in errors" ng-bind-html="msg"></div>
		</div>

		<div class="card" ng-hide="show_options">
			<div class="item item-text-wrap">
				Retrieving your options...
			</div>
		</div>

		<div ng-show="show_options">
			<div class="list card">
				<div class="item item-divider">General Options</div>
				<div class="item item-body">
					<ion-toggle toggle-class="toggle-positive" ng-model="options.timer_notifications" ng-change="change()">
						Enable timer notifications
						<div class="option-details">When turned <strong>on</strong> this device will receive
							notifications when your timers end. You may disable individual timer notifications below.
						</div>
					</ion-toggle>

					<ion-toggle toggle-class="toggle-positive" ng-model="options.must_be_inactive" ng-change="change()">
						No timers when active
						<div class="option-details">When turned <strong>on</strong> this option disables timer
							notifications to this device when you have loaded a page in game within the last 10 minutes.
						</div>
					</ion-toggle>

					<ion-toggle toggle-class="toggle-positive" ng-model="options.no_sound" ng-change="change()">
						No notification sound
						<div class="option-details">Disable sound for all notifications.</div>
					</ion-toggle>

					<ion-toggle toggle-class="toggle-positive" ng-model="options.no_vibrate" ng-change="change()">
						No notification vibration
						<div class="option-details">Disable vibration for all notifications.</div>
					</ion-toggle>
				</div>
			</div>

			<div class="list card" ng-repeat="(timer_name, timer) in options.timers">
				<div class="item item-divider">
					<ion-toggle toggle-class="toggle-positive" ng-model="timer.enabled" ng-change="change()" style="background: none;">
						{{ timer.title }} Timer
					</ion-toggle>
				</div>
				<div class="item item-body" ng-show="timer.enabled">
					<ion-toggle toggle-class="toggle-positive" ng-model="timer.sound" ng-change="change()" ng-if="!options.no_sound">
						Play Sound
					</ion-toggle>
					<ion-toggle toggle-class="toggle-positive" ng-model="timer.vibrate" ng-change="change()" ng-if="!options.no_vibrate">
						Vibrate
					</ion-toggle>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>