<ion-view title="MafiaReturns Notifications">
	<ion-tabs class="tabs-stable tabs-icon-bottom" class="has-header" ng-controller="tabsCtrl">
		<ion-tab title="Nav" icon="ion-navicon-round"  ng-click="showMenuLeft()"></ion-tab>

		<ion-tab title="MR" icon="ion-heart-broken" ui-sref="menus.tabs.main">
			<ion-nav-view name="main-view"></ion-nav-view>
		</ion-tab>

		<ion-tab title="People" icon="ion-ios-people"  ui-sref="menus.tabs.people">
			<ion-nav-view name="people-view"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Chat" icon="ion-chatboxes"  ui-sref="menus.tabs.chat">
			<ion-nav-view name="chat-view"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Info" icon="ion-information-circled" ng-click="showMenuRight()"></ion-tab>
	</ion-tabs>
</ion-view>

